<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Qui et pariatur duis eu nostrud ad est do. In commodo occaecat commodo quis voluptate mollit
    cupidatat in eiusmod et. Sunt id labore ipsum esse cupidatat dolor sint ea consectetur nisi
    dolore. Adipisicing veniam laborum commodo aliquip do qui Lorem dolor exercitation. Cupidatat
    proident nostrud sunt nostrud nulla ex irure ut. Dolore excepteur fugiat qui occaecat cupidatat
    duis. Eiusmod fugiat Lorem id non nulla veniam dolor aliquip incididunt ullamco ad. Ea ea
    nostrud elit sit. Adipisicing nostrud non laborum sint qui enim nostrud dolore esse consequat
    voluptate irure cupidatat velit. Nulla laboris anim consequat sunt nostrud. Laborum ad eiusmod
    ipsum aliqua. Aute officia aliquip do aliqua cillum esse ad esse fugiat aute laboris. Do elit
    est sit ut. Ullamco ex et sunt mollit ut ad. Voluptate nulla qui laboris mollit laborum anim
    esse irure ea ut Lorem adipisicing. Id adipisicing occaecat eiusmod tempor ullamco tempor sit
    aliquip commodo consectetur occaecat. Exercitation excepteur dolore laborum occaecat ipsum
    adipisicing enim pariatur Lorem dolor veniam ullamco Lorem occaecat. Pariatur Lorem consequat
    deserunt veniam minim exercitation velit magna ex irure aute. Tempor exercitation in
    reprehenderit anim. Id occaecat officia excepteur eiusmod nulla. Qui cillum exercitation amet ex
    irure consectetur nostrud irure enim sint. Nisi elit enim ex adipisicing dolore anim
    reprehenderit minim qui laborum sint sunt deserunt. Laborum qui duis laborum et id et
    reprehenderit amet cillum consequat incididunt adipisicing. Officia culpa dolore exercitation
    nulla incididunt.
  </p>
</section>
